.ShuffleContainer .Backdrop {
    z-index: 1000;
}
.ShuffleContainer .GridContainer .GridItem .Banner
{
    max-width: 100%;
    padding: 10% 15%;
}

.ShuffleContainer .GridContainer .GridItem
{
    text-align: center;
}

.ShuffleContainer .VotingResultsPanel {
    padding: 1em;
    transform: scale(0.8);
    text-align: center;
    margin: 0 auto;
}
.ShuffleContainer .VotingResultsPanel .LinPro
{
    margin: 1em auto;
    height: 2em;
    border-radius: 1em;
    box-shadow: 0 2px 3px black;
    background-color: whitesmoke;
}

.ShuffleContainer .VotingResultsPanel .Divider {
    margin: 4em auto;
}

#VotingModal 
{
    padding: 5%;
    overflow-y: scroll;
}
.ShuffleContainer .VotingActiveText
{
    font-size: 1.3rem;
    color: black;
    text-shadow: none;
}
.ShuffleContainer .GridContainer .VotingActiveGrid .VotingNowText
{
    margin: 10% auto;
    font-size: 1.3rem;
    color: whitesmoke;
    text-shadow: 2px 3px 8px black;
    text-align: center;
}

.ShuffleContainer .GridContainer .VotingActiveGrid .VotingActiveButton
{
    width: 80%;
    margin: 0 10%;
}

.ShuffleContainer .GridContainer .GridItem.Details .ActiveShuffle
{
    max-width: 80%;
    margin: 10% auto;
    text-align: center;
}
.ShuffleContainer .GridContainer .GridItem.Details .ActiveShuffle .ErrorMessage
{
    margin: 10% auto;
    color: red;
}
.ShuffleContainer .GridContainer .GridItem.Details .ActiveShuffle .SuccessMessage
{
    color: #4bb543;
}

.ShuffleContainer .GridContainer .GridItem.Details .SecondaryText
{
    margin: 0 auto 10% auto;
}
.ShuffleContainer .GridContainer .GridItem.Details .submissionTextField
{
    margin: 10% auto 0 auto;
}

.ShuffleContainer .GridContainer .GridItem.Details .ShuffleIcon
{
    height: auto;
}
.ShuffleContainer .GridContainer .GridItem.NoShuffle
{
    margin: 10% auto;
}
.ShuffleContainer .GridContainer .GridItem .SignUpButton
{
    width: 12rem;
    margin: 0 auto;
}
#HowToModal
{
    overflow-y: scroll;
}
#HowToModal svg
{
    margin: 25% 5%;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 700px) {
    .ShuffleContainer .GridContainer .GridItem .SignUpButton
    {
        width: 15rem;
        font-size: 1.2rem;
    }
    .ShuffleContainer .GridContainer .GridItem .HowItWorksButton
    {
        font-size: 1.2rem;
        width: 15rem;
    }
    .ShuffleContainer .GridContainer .GridItem .Banner
    {
        padding: 5% 30%;
    }
    .ShuffleContainer .GridContainer .GridItem.Details .ActiveShuffle
    {
        max-width: 70%;
        text-align: center;
    }
    .ShuffleContainer .GridContainer .GridItem.Details .SecondaryText
    {
        font-size: 2rem;
        margin: 0 auto 5% auto;
    }
    .ShuffleContainer .GridContainer .GridItem.Details .submissionTextField
    {
        margin: 5% auto 0 auto;
        width: 50%;
    }
    #HowToModal
    {
        padding: 5% 25%;
    }
    #HowToModal svg
    {
        margin: auto;
    }
    .ShuffleContainer .VotingResultsPanel
    {
        margin: 4em auto;
    }
    .ShuffleContainer .VotingResultsPanel .LinPro
    {
        margin: 2em auto;
        height: 2em;
        border-radius: 1em;
        box-shadow: 0 2px 3px black;
        background-color: whitesmoke;
    }
    .ShuffleContainer .VotingActiveText
    {
        margin: 0 auto;
        line-height: 2em;
        font-size: 2.5rem;
    }
    .ShuffleContainer .GridContainer .VotingActiveGrid .VotingNowText
    {
        margin: 50% auto 10% auto;
        line-height: 2em;
        font-size: 3rem;
    }
    .ShuffleContainer .GridContainer .VotingActiveGrid .VotingActiveButton
    {
        width: 50%;
        margin: 0 25%;
        font-size: 2rem;
    }
    .ShuffleContainer .VotingResultsPanel .Divider{
        margin: 2em auto;
    }
}