.ShuffleContainer .Backdrop {
    z-index: 1000;
}
.ShuffleContainer .GridContainer .GridItem .Banner
{
    margin: 10%;
    max-width: 80%;
}
.ShuffleContainer .GridContainer .GridItem
{
    text-align: center;
}
.ShuffleContainer .GridContainer .GridItem.Details .ActiveShuffle
{
    max-width: 80%;
    margin: 10% auto;
    text-align: center;
}
.ShuffleContainer .GridContainer .GridItem.Details .CardMedia
{
    height: auto;
}
.ShuffleContainer .GridContainer .GridItem.NoShuffle
{
    margin: 5% auto;
}
.ShuffleContainer .GridContainer .GridItem .SignUpButton
{
    width: 12rem;
    margin: 0 auto;
}
#HowToModal
{
    overflow-y: scroll;
}
#HowToModal img
{
    margin: 25% 5%;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 700px) {
    .ShuffleContainer .GridContainer .GridItem .SignUpButton
    {
        width: 15rem;
        font-size: 1.2rem;
    }
    .ShuffleContainer .GridContainer .GridItem .Banner
    {
        margin: 20% auto;
    }
    .ShuffleContainer .GridContainer .GridItem.Details .ActiveShuffle
    {
        max-width: 70%;
        margin: 35% auto;
        text-align: center;
    }
    #HowToModal
    {
        padding: 5% 25%;
    }
    #HowToModal img
    {
        margin: auto;
    }
}