.ShuffleContainer .Backdrop {
    z-index: 1000;
}
.ShuffleContainer .GridContainer .GridItem .Banner
{
    margin: 15% auto;
    max-width: 80%;
}
.ShuffleContainer .GridContainer .GridItem.Details
{
    margin: 10% auto;
    text-align: center;
    max-width: 80%;
}

.ShuffleContainer .GridContainer .GridItem.NoShuffle img
{
    margin: 0 auto 20% auto;
}
.ShuffleContainer .GridContainer .GridItem .SignUpButton
{
    width: 12rem;
    margin: 0 auto;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 700px) {
    .ShuffleContainer .GridContainer .GridItem .SignUpButton
    {
        width: 15rem;
        font-size: 1.2rem;
    }
}