@supports(grid-area: auto){
	/* Extra Small Mobile Devices */ 
	@media only screen and (min-width : 320px) {
		*,*:before,*:after {
			box-sizing: border-box;
		}
		html, body {
			font-size: 16px;
			margin: 0;
			padding: 0;
			background-color: #4ABDAC;
    }
    body {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    code {
      font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
    }
	}

	/* Large Mobile Devices */
	@media only screen and (min-width : 425px) {
		
	}

	/* Extra-Large Mobile Devices */
	@media only screen and (min-width : 480px) {
		
	}

	/* Small Devices, Tablets */
	@media only screen and (min-width : 768px) {
		
	}

	/* Medium Devices, Desktops - No minimum height */
	@media only screen and (min-width : 1000px){
		
	}

	/* Large Devices, Wide Screens */
	@media only screen and (min-width : 1200px) {
        
	}
}
