.HomeContainer .HomePanel.Jumbotron, .HomeContainer .HomePanel.Twitch, .HomeContainer .HomePanel.Shuffle, .HomeContainer .HomePanel.Collab, .HomeContainer .Title {
    text-align: center;
    color: whitesmoke;
    text-shadow: 2px 3px 8px black;
    margin: 5% auto;
    font-size: 1.2rem;
    line-height: 3em;
}

.HomeContainer .Backdrop {
    z-index: 1000;
}
.HomeContainer .HomePanel .TextPanel {
    padding: 0 10%;
}
.HomeContainer .HomePanel svg.Banner.Title {
    max-width: 70%;
    margin: 0 auto 5% auto;
}
.HomeContainer .HomePanel.Jumbotron .LinPro
{
    margin: 1em auto;
    height: 1em;
    border-radius: 1em;
    box-shadow: 0 2px 3px black;
    background-color: whitesmoke;
}
.HomeContainer .HomePanel.Jumbotron .LinPro > div {
    
}

.HomeContainer .HomePanel.Jumbotron .Banner
{
    max-width: 60%;
    margin: 1em auto;
}

.HomeContainer .HomePanel.Jumbotron .VotingResultsPanel {
    padding: 1em;
    transform: scale(0.8);
    margin: 0 auto;
}

.HomeContainer .HomePanel.Jumbotron .VotingResultsPanel .Divider {
    margin: 4em auto;
}

.HomeContainer .HomePanel.Twitch svg, .HomeContainer .HomePanel.Collab svg {
    color: #738ADB;
    max-width: 3em;
}

.HomeContainer .HomePanel.Twitch .TwitchLiveImg
{
    max-width: 75%;
    margin: 10% auto 0 auto;
}

.HomeContainer .HomePanel.Collab .CollabMobileStepper {
    margin: 5% auto;
    border-radius: 1em;
    max-width: 40em;
    box-shadow: 1px 1px 3px rgb(56, 56, 56);
}

#VotingModal 
{
    padding: 5%;
    overflow-y: scroll;
}
.HomeContainer .HomePanel.Jumbotron .VotingActiveText
{
    font-size: 1.3rem;
    color: black;
    text-shadow: none;
}
.HomeContainer .HomePanel.Jumbotron .VotingNowText
    {
        font-size: 1.3rem;
    }

.HomeContainer .HomePanel.Jumbotron .VotingActiveButton
{
    margin: 10%;
}

.HomeContainer .HomePanel.Shuffle svg {
    max-width: 75%;
}

.videoContainer {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    box-shadow: 2px 3px 8px black;
    border-radius: 0.5em;
}

.videoContainer iframe,
.videoContainer object,
.videoContainer embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Desktop */
@media only screen and (min-width : 700px) {
    .HomeContainer .HomePanel.Jumbotron, .HomeContainer .HomePanel.Twitch, .HomeContainer .HomePanel.Shuffle, .HomeContainer .HomePanel.Collab {
        font-size: 1.8rem;
    }

    .HomeContainer .HomePanel.Jumbotron .Banner
    {
        max-width: 60%;
        margin: 5em auto;
    }
    .HomeContainer .Title {
        font-size: 5rem;
    }
    .HomeContainer .HomePanel.Jumbotron .VotingActiveText
    {
        margin: 0 auto;
        line-height: 2em;
        font-size: 2.5rem;
    }
    .HomeContainer .HomePanel.Jumbotron .VotingNowText
    {
        margin: 5em auto 0 auto;
        line-height: 2em;
        font-size: 2.5rem;
    }
    .HomeContainer .HomePanel.Jumbotron .VotingActiveButton
    {
        font-size: 1.5rem;
        margin: 2em;
    }
    .HomeContainer .HomePanel.Jumbotron .VotingResultsPanel .Divider{
        margin: 2em auto;
    }
}
