.HomeContainer .HomePanel.Jumbotron, .HomeContainer .HomePanel.Twitch, .HomeContainer .HomePanel.Shuffle, .HomeContainer .HomePanel.Collab {
    text-align: center;
    color: whitesmoke;
    text-shadow: 2px 3px 8px black;
    margin: 10% auto;
    font-size: 1.3em;
    line-height: 3em;
}
.HomeContainer .HomePanel .TextPanel {
    padding: 0 10%;
}
.HomeContainer .HomePanel.Jumbotron {
    margin: 10% auto 0 auto;
}
.HomeContainer .HomePanel img {
    max-width: 100%;
}
.HomeContainer .HomePanel.Twitch img {
    box-shadow: 2px 3px 8px black;
    border-radius: 0.5em;
}
.HomeContainer .HomePanel.Twitch .social-media {
    box-shadow: none;
    border-radius: 0;
    max-width: 2em;
}

.HomeContainer .HomePanel.Collab .CollabMobileStepper {
    margin: 5% auto;
    border-radius: 1em;
    max-width: 40em;
    box-shadow: 1px 1px 3px rgb(56, 56, 56);
}

.videoContainer {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    box-shadow: 2px 3px 8px black;
    border-radius: 0.5em;
}

.videoContainer iframe,
.videoContainer object,
.videoContainer embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 700px) {
    .HomeContainer .HomePanel.Jumbotron, .HomeContainer .HomePanel.Twitch, .HomeContainer .HomePanel.Shuffle, .HomeContainer .HomePanel.Collab {
        font-size: 1.6em;
    }
}
