#ProfileShuffleDetails {
    margin: 10% auto;
    padding: 10%;
    text-align: center;
}
#ProfileShuffleDetails #modal-title
{
    margin: 0 auto 1em auto;
}
#ProfileShuffleDetails #modal-description
{
    font-size: 1.2em;
    font-style: italic;
    font-weight: 600;
}
#ProfileShuffleDetails .SubmissionName
{
    margin: 5% auto 2% auto;
    color: whitesmoke;
    background-color: black;
    border-radius: 0.5em;
}
#ProfileShuffleDetails .GridList.Header
{
    background: black;
    border-radius: 1em;
    color: whitesmoke;
}
#ProfileShuffleDetails .GridList.Submission
{
    height: 4em;
}
#ProfileShuffleDetails .GridListTile 
{
    height: 4em !important;
}
#ProfileShuffleDetails .GridListTile .ShuffleParticipant
{
    box-shadow: 0 3px 5px black;
    margin: 0 auto 0 auto;
    height: 40px;
}
#ProfileShuffleDetails .ShuffleParticipant:hover
{
    transform: scale(1.1);
    cursor: pointer;
}

#ProfileShuffleDetails .GridList.Submission:nth-child(8) 
{
    background-color: rgb(220, 220, 220);
    border: 1px black solid;
    border-left: black 1em solid;
    border-right: black 1em solid;
    border-radius: 0.8em;
}
#ProfileShuffleDetails .GridList.Submission:nth-child(10) 
{
    border: 1px black solid;
    border-left: black 1em solid;
    border-right: black 1em solid;
    border-radius: 0.8em;
}
#ProfileShuffleDetails .GridList.Submission:nth-child(12)
{
    background-color: rgb(220, 220, 220);
    border: 1px black solid;
    border-left: black 1em solid;
    border-right: black 1em solid;
    border-radius: 0.8em;
}
#ProfileShuffleDetails .GridList.Submission:nth-child(14)
{
    border: 1px black solid;
    border-left: black 1em solid;
    border-right: black 1em solid;
    border-radius: 0.8em;
}

#ProfileShuffleDetails hr {
    height: 3px;
    margin: 1em 0;
}
#ProfileShuffleDetails .disclaimer
{
    margin: 5% auto;
    font-size: 0.9em;
    font-style: italic;
    color: whitesmoke;
    background-color: black;
    border-radius: 1em;
    padding: 3%;
}
#ProfileShuffleDetails a
{
    text-decoration: none;
    cursor: pointer;
    color: black;
}


/* Desktop Devices */
@media only screen and (min-width : 1000px)
{
    #ProfileShuffleDetails
    {
        margin: 5% auto;
        max-width: 50%;
        padding: 5%;
    }
}