.Moderator {
    text-align: center;
}

.Moderator .ModeratorContainer
{
    padding: 5%;
}
.Moderator .ModeratorContainer .GridItem .Card
{
    padding: 5%;
}

.Moderator .Title {
    font-size: 2em;
    margin-top: 3em;
}

.Moderator .Submit {
    margin-top: 5em;
}