.Toolbar .IconButtonMenu {
    margin-right: 0.5em;
}
.Toolbar .Banner {
    max-width: 15rem;
}
.Toolbar .FlexSpacer {
    flex: 1;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 700px) {
    .Toolbar .Banner {
        display: none;
    }
}
